pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; }
:is(.codehilite,.highlight) .c { color: #888 } /* Comment */
:is(.codehilite,.highlight) .err { color: #F00; background-color: #FAA } /* Error */
:is(.codehilite,.highlight) .k { color: #080; font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .o { color: #333 } /* Operator */
:is(.codehilite,.highlight) .ch { color: #888 } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #888 } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #579 } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #888 } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #888 } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #C00; font-weight: bold } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #A00000 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #F00 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #000080; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #00A000 } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #888 } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #04D } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #080; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #080; font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #080; font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #038; font-weight: bold } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #080; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #339; font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #60E; font-weight: bold } /* Literal.Number */
:is(.codehilite,.highlight) .s { background-color: #FFF0F0 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #00C } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #007020 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #B06; font-weight: bold } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #036; font-weight: bold } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #555; font-weight: bold } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #800; font-weight: bold } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #F00; font-weight: bold } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #06B; font-weight: bold } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #970; font-weight: bold } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
:is(.codehilite,.highlight) .nt { color: #070 } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #963 } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #000; font-weight: bold } /* Operator.Word */
:is(.codehilite,.highlight) .w { color: #BBB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #60E; font-weight: bold } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #60E; font-weight: bold } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #058; font-weight: bold } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #00D; font-weight: bold } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #40E; font-weight: bold } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { background-color: #FFF0F0 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { background-color: #FFF0F0 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #04D } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { background-color: #FFF0F0 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #D42 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { background-color: #FFF0F0 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #666; font-weight: bold; background-color: #FFF0F0 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { background-color: #FFF0F0 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { background-color: #EEE } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #D20; background-color: #FFF0F0 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #000; background-color: #FFF0FF } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { background-color: #FFF0F0 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #A60 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #007020 } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #06B; font-weight: bold } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #369 } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #D70; font-weight: bold } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #33B } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #963 } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #00D; font-weight: bold } /* Literal.Number.Integer.Long */