pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #f8f8f8; }
:is(.codehilite,.highlight) .c { color: #080; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { border: 1px solid #F00 } /* Error */
:is(.codehilite,.highlight) .k { color: #A2F; font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .o { color: #666 } /* Operator */
:is(.codehilite,.highlight) .ch { color: #080; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #080; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #080 } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #080; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #080; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #080; font-weight: bold } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #A00000 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #F00 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #000080; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #00A000 } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #888 } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #04D } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #A2F; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #A2F; font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #A2F; font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #A2F } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #A2F; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #0B0; font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #666 } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #B44 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #B44 } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #A2F } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #00F } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #800 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #A2F } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #999; font-weight: bold } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #00A000 } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #A0A000 } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #00F; font-weight: bold } /* Name.Namespace */
:is(.codehilite,.highlight) .nt { color: #008000; font-weight: bold } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #B8860B } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #A2F; font-weight: bold } /* Operator.Word */
:is(.codehilite,.highlight) .w { color: #BBB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #666 } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #666 } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #666 } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #666 } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #666 } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #B44 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #B44 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #B44 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #B44 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #B44; font-style: italic } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #B44 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #B62; font-weight: bold } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #B44 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #B68; font-weight: bold } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #008000 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #B68 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #B44 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #B8860B } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #A2F } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #00A000 } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #B8860B } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #B8860B } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #B8860B } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #B8860B } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #666 } /* Literal.Number.Integer.Long */