pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #f0f0f0; }
:is(.codehilite,.highlight) .c { color: #959595; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { border: 1px solid #898989 } /* Error */
:is(.codehilite,.highlight) .k { color: #575757; font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .o { color: #666 } /* Operator */
:is(.codehilite,.highlight) .ch { color: #959595; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #959595; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #575757 } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #959595; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #959595; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #959595; background-color: #F4F4F4 } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #545454 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #898989 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #373737; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #7D7D7D } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #888 } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #7E7E7E; font-weight: bold } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #5A5A5A; font-weight: bold } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #6D6D6D } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #575757; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #575757; font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #575757; font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #575757 } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #575757; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #4F4F4F } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #888 } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #717171 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #707070 } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #575757 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #7E7E7E; font-weight: bold } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #A5A5A5 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #555; font-weight: bold } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #848484; font-weight: bold } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #575757 } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #3F3F3F } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #363636; font-weight: bold } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #7E7E7E; font-weight: bold } /* Name.Namespace */
:is(.codehilite,.highlight) .nt { color: #3B3B3B; font-weight: bold } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #9A9A9A } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #575757; font-weight: bold } /* Operator.Word */
:is(.codehilite,.highlight) .w { color: #BBB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #888 } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #888 } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #888 } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #888 } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #888 } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #717171 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #717171 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #717171 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #717171 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #717171; font-style: italic } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #717171 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #717171; font-weight: bold } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #717171 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #9F9F9F; font-style: italic } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #7E7E7E } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #575757 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #717171 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #676767 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #575757 } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #3F3F3F } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #9A9A9A } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #9A9A9A } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #9A9A9A } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #9A9A9A } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #888 } /* Literal.Number.Integer.Long */