pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #473d18 }
:is(.codehilite,.highlight) { background: #010726; color: #A2BFFC }
:is(.codehilite,.highlight) .c { color: #797979 } /* Comment */
:is(.codehilite,.highlight) .err { color: #A2BFFC } /* Error */
:is(.codehilite,.highlight) .k { color: #9E86C8 } /* Keyword */
:is(.codehilite,.highlight) .l { color: #A2BFFC } /* Literal */
:is(.codehilite,.highlight) .n { color: #A2BFFC } /* Name */
:is(.codehilite,.highlight) .o { color: #F78C6C } /* Operator */
:is(.codehilite,.highlight) .p { color: #A2BFFC } /* Punctuation */
:is(.codehilite,.highlight) .ch { color: #797979 } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #797979 } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #797979 } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #797979 } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #797979 } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #797979 } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #A2BFFC } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .gh { color: #A2BFFC } /* Generic.Heading */
:is(.codehilite,.highlight) .gs { font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #A2BFFC } /* Generic.Subheading */
:is(.codehilite,.highlight) .kc { color: #9E86C8 } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #9E86C8 } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #9E86C8 } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #9E86C8 } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #9E86C8 } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #C5E478 } /* Keyword.Type */
:is(.codehilite,.highlight) .ld { color: #A2BFFC } /* Literal.Date */
:is(.codehilite,.highlight) .m { color: #9E86C8 } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #9E8741 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #9E86C8 } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #C5E478 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #F78C6C } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #A2BFFC } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #9E8741 } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #9E8741 } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #A2BFFC } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #9E86C8 } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #F78C6C } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #C5E478 } /* Name.Namespace */
:is(.codehilite,.highlight) .nx { color: #A2BFFC } /* Name.Other */
:is(.codehilite,.highlight) .py { color: #A2BFFC } /* Name.Property */
:is(.codehilite,.highlight) .nt { color: #5CA7E4 } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #C5E478 } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #9E86C8 } /* Operator.Word */
:is(.codehilite,.highlight) .pm { color: #A2BFFC } /* Punctuation.Marker */
:is(.codehilite,.highlight) .w { color: #A2BFFC } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #9E86C8 } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #9E86C8 } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #9E86C8 } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #9E86C8 } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #9E86C8 } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #9E8741 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #9E8741 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #9E8741 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #9E8741 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #9E8741 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #9E8741 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #F78C6C } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #9E8741 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #9E8741 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #9E8741 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #5CA7E4 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #9E8741 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #F78C6C } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #C5E478 } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #9E86C8 } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #C5E478 } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #C5E478 } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #C5E478 } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #F78C6C } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #9E86C8 } /* Literal.Number.Integer.Long */