pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ebdbb2 }
:is(.codehilite,.highlight) { background: #282828; color: #DDD }
:is(.codehilite,.highlight) .c { color: #928374; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { color: #282828; background-color: #FB4934 } /* Error */
:is(.codehilite,.highlight) .esc { color: #DDD } /* Escape */
:is(.codehilite,.highlight) .g { color: #DDD } /* Generic */
:is(.codehilite,.highlight) .k { color: #FB4934 } /* Keyword */
:is(.codehilite,.highlight) .l { color: #DDD } /* Literal */
:is(.codehilite,.highlight) .n { color: #DDD } /* Name */
:is(.codehilite,.highlight) .o { color: #DDD } /* Operator */
:is(.codehilite,.highlight) .x { color: #DDD } /* Other */
:is(.codehilite,.highlight) .p { color: #DDD } /* Punctuation */
:is(.codehilite,.highlight) .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #928374; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .c-PreProc { color: #8EC07C; font-style: italic } /* Comment.PreProc */
:is(.codehilite,.highlight) .cp { color: #928374; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #928374; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #EBDBB2; font-weight: bold; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #282828; background-color: #FB4934 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { color: #DDD; font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { color: #DDD; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #FB4934 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #EBDBB2; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #282828; background-color: #B8BB26 } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #F2E5BC } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #A89984 } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { color: #DDD; font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #EBDBB2; text-decoration: underline } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #FB4934 } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #FB4934 } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #FB4934 } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #FB4934 } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #FB4934 } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #FB4934 } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #FB4934 } /* Keyword.Type */
:is(.codehilite,.highlight) .ld { color: #DDD } /* Literal.Date */
:is(.codehilite,.highlight) .m { color: #D3869B } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #B8BB26 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #FABD2F } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #FE8019 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #8EC07C } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #D3869B } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #FB4934 } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #DDD } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #FB4934 } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #8EC07C } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #DDD } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #8EC07C } /* Name.Namespace */
:is(.codehilite,.highlight) .nx { color: #DDD } /* Name.Other */
:is(.codehilite,.highlight) .py { color: #DDD } /* Name.Property */
:is(.codehilite,.highlight) .nt { color: #8EC07C } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #83A598 } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #FB4934 } /* Operator.Word */
:is(.codehilite,.highlight) .pm { color: #DDD } /* Punctuation.Marker */
:is(.codehilite,.highlight) .w { color: #DDD } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #D3869B } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #D3869B } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #D3869B } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #D3869B } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #D3869B } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #B8BB26 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #B8BB26 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #B8BB26 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #B8BB26 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #B8BB26 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #B8BB26 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #FE8019 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #B8BB26 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #B8BB26 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #B8BB26 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #B8BB26 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #B8BB26 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #B8BB26 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #FE8019 } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #8EC07C } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #83A598 } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #83A598 } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #83A598 } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #83A598 } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #D3869B } /* Literal.Number.Integer.Long */