pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; }
:is(.codehilite,.highlight) .c { color: #F00; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .k { color: #00F } /* Keyword */
:is(.codehilite,.highlight) .ch { color: #F00; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #F00; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #F00; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #F00; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #F00; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #F00; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .kc { color: #00F } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #00F } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #00F } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #00F } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #00F } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #00F } /* Keyword.Type */
:is(.codehilite,.highlight) .s { color: #009C00 } /* Literal.String */
:is(.codehilite,.highlight) .nc { color: #007575 } /* Name.Class */
:is(.codehilite,.highlight) .nd { color: #CC00A3 } /* Name.Decorator */
:is(.codehilite,.highlight) .nf { color: #C34E00 } /* Name.Function */
:is(.codehilite,.highlight) .sa { color: #009C00 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #009C00 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #009C00 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #009C00 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #009C00 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #009C00 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #009C00 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #009C00 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #009C00 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #009C00 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #009C00 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #009C00 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #009C00 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .fm { color: #C34E00 } /* Name.Function.Magic */