pre { line-height: 125%; }
td.linenos .normal { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #6e7681 }
:is(.codehilite,.highlight) { background: #1d2331; color: #D4D2C8 }
:is(.codehilite,.highlight) .c { color: #7E8AA1 } /* Comment */
:is(.codehilite,.highlight) .err { color: #F88F7F } /* Error */
:is(.codehilite,.highlight) .esc { color: #D4D2C8 } /* Escape */
:is(.codehilite,.highlight) .g { color: #D4D2C8 } /* Generic */
:is(.codehilite,.highlight) .k { color: #FFAD66 } /* Keyword */
:is(.codehilite,.highlight) .l { color: #D5FF80 } /* Literal */
:is(.codehilite,.highlight) .n { color: #D4D2C8 } /* Name */
:is(.codehilite,.highlight) .o { color: #FFAD66 } /* Operator */
:is(.codehilite,.highlight) .x { color: #D4D2C8 } /* Other */
:is(.codehilite,.highlight) .p { color: #D4D2C8 } /* Punctuation */
:is(.codehilite,.highlight) .ch { color: #F88F7F; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #7E8AA1 } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #FFAD66; font-weight: bold } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #7E8AA1 } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #7E8AA1 } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #7E8AA1; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #F88F7F; background-color: #3D1E20 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { color: #D4D2C8; font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { color: #D4D2C8 } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #F88F7F } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #D4D2C8 } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #6AD4AF; background-color: #19362C } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #7E8AA1 } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #D4D2C8 } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { color: #D4D2C8; font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #D4D2C8 } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #F88F7F } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #FFAD66 } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #FFAD66 } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #FFAD66 } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #FFAD66 } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #FFAD66 } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #73D0FF } /* Keyword.Type */
:is(.codehilite,.highlight) .ld { color: #D5FF80 } /* Literal.Date */
:is(.codehilite,.highlight) .m { color: #DFBFFF } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #D5FF80 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #FFD173 } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #FFD173 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #73D0FF } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #FFD173 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #7E8AA1; font-weight: bold; font-style: italic } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #95E6CB } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #73D0FF } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #FFD173 } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #D4D2C8 } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #D4D2C8 } /* Name.Namespace */
:is(.codehilite,.highlight) .nx { color: #D4D2C8 } /* Name.Other */
:is(.codehilite,.highlight) .py { color: #FFD173 } /* Name.Property */
:is(.codehilite,.highlight) .nt { color: #5CCFE6 } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #D4D2C8 } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #FFAD66 } /* Operator.Word */
:is(.codehilite,.highlight) .pm { color: #D4D2C8 } /* Punctuation.Marker */
:is(.codehilite,.highlight) .w { color: #D4D2C8 } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #DFBFFF } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #DFBFFF } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #DFBFFF } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #DFBFFF } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #DFBFFF } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #F29E74 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #D5FF80 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #D5FF80 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #D5FF80 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #7E8AA1 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #D5FF80 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #95E6CB } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #D5FF80 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #95E6CB } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #95E6CB } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #95E6CB } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #D5FF80 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #DFBFFF } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #5CCFE6 } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #FFD173 } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #D4D2C8 } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #D4D2C8 } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #D4D2C8 } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #D4D2C8 } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #DFBFFF } /* Literal.Number.Integer.Long */