pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; }
:is(.codehilite,.highlight) .-ChordModifier { color: #976806 } /* ChordModifier */
:is(.codehilite,.highlight) .c { color: #A3AAB2; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .k { font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .ch { color: #A3AAB2; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #A3AAB2; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #A3AAB2; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #A3AAB2; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #A3AAB2; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #A3AAB2; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .kc { font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { font-weight: bold } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #976806 } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #AB0909 } /* Literal.String */
:is(.codehilite,.highlight) .n-BackslashReference { color: #08547A } /* Name.BackslashReference */
:is(.codehilite,.highlight) .n-Lvalue { color: #08547A } /* Name.Lvalue */
:is(.codehilite,.highlight) .mb { color: #976806 } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #976806 } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #976806 } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #976806 } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #976806 } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #AB0909 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #AB0909 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #AB0909 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #AB0909 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #AB0909 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #AB0909 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #C46C6C } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #AB0909 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #AB0909 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #AB0909 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #AB0909 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #AB0909 } /* Literal.String.Single */
:is(.codehilite,.highlight) .nb-Articulation { color: #68175A } /* Name.Builtin.Articulation */
:is(.codehilite,.highlight) .nb-Clef { color: #08547A; font-weight: bold } /* Name.Builtin.Clef */
:is(.codehilite,.highlight) .nb-Context { color: #038B8B; font-weight: bold } /* Name.Builtin.Context */
:is(.codehilite,.highlight) .nb-ContextProperty { color: #038B8B } /* Name.Builtin.ContextProperty */
:is(.codehilite,.highlight) .nb-Dynamic { color: #68175A } /* Name.Builtin.Dynamic */
:is(.codehilite,.highlight) .nb-Grob { color: #0C7441; font-weight: bold } /* Name.Builtin.Grob */
:is(.codehilite,.highlight) .nb-GrobProperty { color: #0C7441 } /* Name.Builtin.GrobProperty */
:is(.codehilite,.highlight) .nb-HeaderVariable { color: #6C5A05; font-weight: bold } /* Name.Builtin.HeaderVariable */
:is(.codehilite,.highlight) .nb-MarkupCommand { color: #831E71; font-weight: bold } /* Name.Builtin.MarkupCommand */
:is(.codehilite,.highlight) .nb-MusicCommand { color: #08547A; font-weight: bold } /* Name.Builtin.MusicCommand */
:is(.codehilite,.highlight) .nb-MusicFunction { color: #08547A; font-weight: bold } /* Name.Builtin.MusicFunction */
:is(.codehilite,.highlight) .nb-PaperVariable { color: #6C5A05; font-weight: bold } /* Name.Builtin.PaperVariable */
:is(.codehilite,.highlight) .nb-RepeatType { color: #08547A } /* Name.Builtin.RepeatType */
:is(.codehilite,.highlight) .nb-Scale { color: #08547A; font-weight: bold } /* Name.Builtin.Scale */
:is(.codehilite,.highlight) .nb-SchemeBuiltin { font-weight: bold } /* Name.Builtin.SchemeBuiltin */
:is(.codehilite,.highlight) .nb-SchemeFunction { color: #A83401; font-weight: bold } /* Name.Builtin.SchemeFunction */
:is(.codehilite,.highlight) .nb-Translator { color: #6200A4; font-weight: bold } /* Name.Builtin.Translator */
:is(.codehilite,.highlight) .il { color: #976806 } /* Literal.Number.Integer.Long */