pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; color: #4D4D4D }
:is(.codehilite,.highlight) .c { color: #0080FF; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { color: #FFF; background-color: #C00 } /* Error */
:is(.codehilite,.highlight) .k { color: #2C5DCD; font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .o { color: #2C5DCD } /* Operator */
:is(.codehilite,.highlight) .ch { color: #0080FF; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #0080FF; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #0080FF } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #0080FF; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #0080FF; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #0080FF; font-weight: bold; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .gd { background-color: #FCC; border: 1px solid #C5060B } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { font-style: italic } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #F00 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #2C5DCD; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { background-color: #CFC; border: 1px solid #0C0 } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #AAA } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #2C5DCD; font-weight: bold } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #2C5DCD; font-weight: bold } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #C5060B } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #2C5DCD; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #2C5DCD; font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #2C5DCD; font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #2C5DCD } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #2C5DCD; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #5918BB; font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #5918BB; font-weight: bold } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #0C6 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #2C5DCD; font-style: italic } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #5918BB; font-weight: bold } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { text-decoration: underline } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #318495 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #FF8000; font-weight: bold } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #5918BB; font-weight: bold } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #5918BB; font-weight: bold } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #FF8000; font-weight: bold } /* Name.Function */
:is(.codehilite,.highlight) .nt { color: #2C5DCD; font-weight: bold } /* Name.Tag */
:is(.codehilite,.highlight) .ow { color: #2C5DCD; font-weight: bold } /* Operator.Word */
:is(.codehilite,.highlight) .w { color: #CBCBCB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #5918BB; font-weight: bold } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #5918BB; font-weight: bold } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #5918BB; font-weight: bold } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #5918BB; font-weight: bold } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #5918BB; font-weight: bold } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #0C6 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #0C6 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #0C6 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #0C6 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #0C6; font-style: italic } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #0C6 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #C5060B; font-weight: bold } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #0C6 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #0C6 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #318495 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #0C6 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #0C6 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #C5060B; font-weight: bold } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #5918BB; font-weight: bold } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #FF8000; font-weight: bold } /* Name.Function.Magic */
:is(.codehilite,.highlight) .il { color: #5918BB; font-weight: bold } /* Literal.Number.Integer.Long */