pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; }
:is(.codehilite,.highlight) .c { color: #080; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { color: #A61717; background-color: #E3D2D2 } /* Error */
:is(.codehilite,.highlight) .g { color: #2C2CFF } /* Generic */
:is(.codehilite,.highlight) .k { color: #2C2CFF } /* Keyword */
:is(.codehilite,.highlight) .x { background-color: #FFFFE0 } /* Other */
:is(.codehilite,.highlight) .ch { color: #080; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #080; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #080; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #080; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #080; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #080; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #2C2CFF } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { color: #080 } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { color: #2C2CFF } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #D30202 } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #2C2CFF } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #2C2CFF } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #2C2CFF } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #2C2CFF } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { color: #2C2CFF } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #2C2CFF } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #2C2CFF } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #2C2CFF; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #2C2CFF } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #2C2CFF } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #2C2CFF } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #2C2CFF } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #2C8553; font-weight: bold } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #800080 } /* Literal.String */
:is(.codehilite,.highlight) .nb { color: #2C2CFF } /* Name.Builtin */
:is(.codehilite,.highlight) .nf { font-weight: bold; font-style: italic } /* Name.Function */
:is(.codehilite,.highlight) .nv { color: #2C2CFF; font-weight: bold } /* Name.Variable */
:is(.codehilite,.highlight) .w { color: #BBB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #2C8553; font-weight: bold } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #2C8553; font-weight: bold } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #2C8553; font-weight: bold } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #2C8553; font-weight: bold } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #2C8553; font-weight: bold } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #800080 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #800080 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #800080 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #800080 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #800080 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #800080 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #800080 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #800080 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #800080 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #800080 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #800080 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #800080 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #800080 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #2C2CFF } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { font-weight: bold; font-style: italic } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #2C2CFF; font-weight: bold } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #2C2CFF; font-weight: bold } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #2C2CFF; font-weight: bold } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #2C2CFF; font-weight: bold } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #2C8553; font-weight: bold } /* Literal.Number.Integer.Long */