pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; color: #111 }
:is(.codehilite,.highlight) .c { color: #080; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { color: #A61717; background-color: #E3D2D2 } /* Error */
:is(.codehilite,.highlight) .k { color: #353580; font-weight: bold } /* Keyword */
:is(.codehilite,.highlight) .ch { color: #080; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #080; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #080; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #080; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #080; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #080; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .kc { color: #353580; font-weight: bold } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #353580; font-weight: bold } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #353580; font-weight: bold } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #353580; font-weight: bold } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #353580; font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .m { color: #2C2CFF } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #7A2424 } /* Literal.String */
:is(.codehilite,.highlight) .nf { color: #2C2CFF } /* Name.Function */
:is(.codehilite,.highlight) .nx { color: #BE646C } /* Name.Other */
:is(.codehilite,.highlight) .nv { color: #35BABA; font-weight: bold } /* Name.Variable */
:is(.codehilite,.highlight) .w { color: #BBB } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #2C2CFF } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #2C2CFF } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #2C2CFF } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #2C2CFF } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #2C2CFF } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #7A2424 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #7A2424 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #7A2424 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #7A2424 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #7A2424 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #7A2424 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #7A2424 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #7A2424 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #7A2424 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #7A2424 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #7A2424 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #7A2424 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #7A2424 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .fm { color: #2C2CFF } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #35BABA; font-weight: bold } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #B5565E; font-weight: bold } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #35BABA; font-weight: bold } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #35BABA; font-weight: bold } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #2C2CFF } /* Literal.Number.Integer.Long */