pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #ffffcc }
:is(.codehilite,.highlight) { background: #ffffff; }
:is(.codehilite,.highlight) .c { color: #177500 } /* Comment */
:is(.codehilite,.highlight) .err { color: #000 } /* Error */
:is(.codehilite,.highlight) .k { color: #A90D91 } /* Keyword */
:is(.codehilite,.highlight) .l { color: #1C01CE } /* Literal */
:is(.codehilite,.highlight) .n { color: #000 } /* Name */
:is(.codehilite,.highlight) .o { color: #000 } /* Operator */
:is(.codehilite,.highlight) .ch { color: #177500 } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #177500 } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #633820 } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #177500 } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #177500 } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #177500 } /* Comment.Special */
:is(.codehilite,.highlight) .kc { color: #A90D91 } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #A90D91 } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #A90D91 } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #A90D91 } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #A90D91 } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #A90D91 } /* Keyword.Type */
:is(.codehilite,.highlight) .ld { color: #1C01CE } /* Literal.Date */
:is(.codehilite,.highlight) .m { color: #1C01CE } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #C41A16 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #836C28 } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #A90D91 } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #3F6E75 } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #000 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #000 } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #000 } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #000 } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #000 } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #000 } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #000 } /* Name.Namespace */
:is(.codehilite,.highlight) .nx { color: #000 } /* Name.Other */
:is(.codehilite,.highlight) .py { color: #000 } /* Name.Property */
:is(.codehilite,.highlight) .nt { color: #000 } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #000 } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #000 } /* Operator.Word */
:is(.codehilite,.highlight) .mb { color: #1C01CE } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #1C01CE } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #1C01CE } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #1C01CE } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #1C01CE } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #C41A16 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #C41A16 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #2300CE } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #C41A16 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #C41A16 } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #C41A16 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #C41A16 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #C41A16 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #C41A16 } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #C41A16 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #C41A16 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #C41A16 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #C41A16 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #5B269A } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #000 } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #000 } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #000 } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #000 } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #000 } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #1C01CE } /* Literal.Number.Integer.Long */