pre { line-height: 125%; }
td.linenos .normal { color: #5d6262; background-color: #353535; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #5d6262; background-color: #353535; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #7a8080; background-color: #353535; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #7a8080; background-color: #353535; padding-left: 5px; padding-right: 5px; }
:is(.codehilite,.highlight) .hll { background-color: #484848 }
:is(.codehilite,.highlight) { background: #3f3f3f; color: #DCDCCC }
:is(.codehilite,.highlight) .c { color: #7F9F7F; font-style: italic } /* Comment */
:is(.codehilite,.highlight) .err { color: #E37170; font-weight: bold } /* Error */
:is(.codehilite,.highlight) .esc { color: #DCDCCC } /* Escape */
:is(.codehilite,.highlight) .g { color: #ECBCBC; font-weight: bold } /* Generic */
:is(.codehilite,.highlight) .k { color: #EFDCBC } /* Keyword */
:is(.codehilite,.highlight) .l { color: #9FAFAF } /* Literal */
:is(.codehilite,.highlight) .n { color: #DCDCCC } /* Name */
:is(.codehilite,.highlight) .o { color: #F0EFD0 } /* Operator */
:is(.codehilite,.highlight) .x { color: #DCDCCC } /* Other */
:is(.codehilite,.highlight) .p { color: #F0EFD0 } /* Punctuation */
:is(.codehilite,.highlight) .ch { color: #7F9F7F; font-style: italic } /* Comment.Hashbang */
:is(.codehilite,.highlight) .cm { color: #7F9F7F; font-style: italic } /* Comment.Multiline */
:is(.codehilite,.highlight) .cp { color: #DFAF8F; font-weight: bold; font-style: italic } /* Comment.Preproc */
:is(.codehilite,.highlight) .cpf { color: #CC9393; font-style: italic } /* Comment.PreprocFile */
:is(.codehilite,.highlight) .c1 { color: #7F9F7F; font-style: italic } /* Comment.Single */
:is(.codehilite,.highlight) .cs { color: #DFDFDF; font-weight: bold; font-style: italic } /* Comment.Special */
:is(.codehilite,.highlight) .gd { color: #C3BF9F; font-weight: bold; background-color: #313C36 } /* Generic.Deleted */
:is(.codehilite,.highlight) .ge { color: #FFF; font-weight: bold } /* Generic.Emph */
:is(.codehilite,.highlight) .ges { color: #ECBCBC; font-weight: bold } /* Generic.EmphStrong */
:is(.codehilite,.highlight) .gr { color: #ECBCBC; font-weight: bold } /* Generic.Error */
:is(.codehilite,.highlight) .gh { color: #EFEFEF; font-weight: bold } /* Generic.Heading */
:is(.codehilite,.highlight) .gi { color: #709080; font-weight: bold; background-color: #313C36 } /* Generic.Inserted */
:is(.codehilite,.highlight) .go { color: #5B605E; font-weight: bold } /* Generic.Output */
:is(.codehilite,.highlight) .gp { color: #ECBCBC; font-weight: bold } /* Generic.Prompt */
:is(.codehilite,.highlight) .gs { color: #ECBCBC; font-weight: bold } /* Generic.Strong */
:is(.codehilite,.highlight) .gu { color: #EFEFEF; font-weight: bold } /* Generic.Subheading */
:is(.codehilite,.highlight) .gt { color: #80D4AA; font-weight: bold; background-color: #2F2F2F } /* Generic.Traceback */
:is(.codehilite,.highlight) .kc { color: #DCA3A3 } /* Keyword.Constant */
:is(.codehilite,.highlight) .kd { color: #F0DFAF } /* Keyword.Declaration */
:is(.codehilite,.highlight) .kn { color: #F0DFAF } /* Keyword.Namespace */
:is(.codehilite,.highlight) .kp { color: #EFDCBC } /* Keyword.Pseudo */
:is(.codehilite,.highlight) .kr { color: #EFDCBC } /* Keyword.Reserved */
:is(.codehilite,.highlight) .kt { color: #DFDFBF; font-weight: bold } /* Keyword.Type */
:is(.codehilite,.highlight) .ld { color: #9FAFAF } /* Literal.Date */
:is(.codehilite,.highlight) .m { color: #8CD0D3 } /* Literal.Number */
:is(.codehilite,.highlight) .s { color: #CC9393 } /* Literal.String */
:is(.codehilite,.highlight) .na { color: #EFEF8F } /* Name.Attribute */
:is(.codehilite,.highlight) .nb { color: #EFEF8F } /* Name.Builtin */
:is(.codehilite,.highlight) .nc { color: #EFEF8F } /* Name.Class */
:is(.codehilite,.highlight) .no { color: #DCA3A3 } /* Name.Constant */
:is(.codehilite,.highlight) .nd { color: #DCDCCC } /* Name.Decorator */
:is(.codehilite,.highlight) .ni { color: #CFBFAF } /* Name.Entity */
:is(.codehilite,.highlight) .ne { color: #C3BF9F; font-weight: bold } /* Name.Exception */
:is(.codehilite,.highlight) .nf { color: #EFEF8F } /* Name.Function */
:is(.codehilite,.highlight) .nl { color: #DCDCCC } /* Name.Label */
:is(.codehilite,.highlight) .nn { color: #DCDCCC } /* Name.Namespace */
:is(.codehilite,.highlight) .nx { color: #DCDCCC } /* Name.Other */
:is(.codehilite,.highlight) .py { color: #DCDCCC } /* Name.Property */
:is(.codehilite,.highlight) .nt { color: #E89393; font-weight: bold } /* Name.Tag */
:is(.codehilite,.highlight) .nv { color: #DCDCCC } /* Name.Variable */
:is(.codehilite,.highlight) .ow { color: #F0EFD0 } /* Operator.Word */
:is(.codehilite,.highlight) .pm { color: #F0EFD0 } /* Punctuation.Marker */
:is(.codehilite,.highlight) .w { color: #DCDCCC } /* Text.Whitespace */
:is(.codehilite,.highlight) .mb { color: #8CD0D3 } /* Literal.Number.Bin */
:is(.codehilite,.highlight) .mf { color: #C0BED1 } /* Literal.Number.Float */
:is(.codehilite,.highlight) .mh { color: #8CD0D3 } /* Literal.Number.Hex */
:is(.codehilite,.highlight) .mi { color: #8CD0D3 } /* Literal.Number.Integer */
:is(.codehilite,.highlight) .mo { color: #8CD0D3 } /* Literal.Number.Oct */
:is(.codehilite,.highlight) .sa { color: #CC9393 } /* Literal.String.Affix */
:is(.codehilite,.highlight) .sb { color: #CC9393 } /* Literal.String.Backtick */
:is(.codehilite,.highlight) .sc { color: #CC9393 } /* Literal.String.Char */
:is(.codehilite,.highlight) .dl { color: #CC9393 } /* Literal.String.Delimiter */
:is(.codehilite,.highlight) .sd { color: #7F9F7F } /* Literal.String.Doc */
:is(.codehilite,.highlight) .s2 { color: #CC9393 } /* Literal.String.Double */
:is(.codehilite,.highlight) .se { color: #CC9393 } /* Literal.String.Escape */
:is(.codehilite,.highlight) .sh { color: #CC9393 } /* Literal.String.Heredoc */
:is(.codehilite,.highlight) .si { color: #DCA3A3; font-weight: bold } /* Literal.String.Interpol */
:is(.codehilite,.highlight) .sx { color: #CC9393 } /* Literal.String.Other */
:is(.codehilite,.highlight) .sr { color: #CC9393 } /* Literal.String.Regex */
:is(.codehilite,.highlight) .s1 { color: #CC9393 } /* Literal.String.Single */
:is(.codehilite,.highlight) .ss { color: #CC9393 } /* Literal.String.Symbol */
:is(.codehilite,.highlight) .bp { color: #DCDCCC } /* Name.Builtin.Pseudo */
:is(.codehilite,.highlight) .fm { color: #EFEF8F } /* Name.Function.Magic */
:is(.codehilite,.highlight) .vc { color: #DCDCCC } /* Name.Variable.Class */
:is(.codehilite,.highlight) .vg { color: #DCDCCC } /* Name.Variable.Global */
:is(.codehilite,.highlight) .vi { color: #DCDCCC } /* Name.Variable.Instance */
:is(.codehilite,.highlight) .vm { color: #DCDCCC } /* Name.Variable.Magic */
:is(.codehilite,.highlight) .il { color: #8CD0D3 } /* Literal.Number.Integer.Long */